<!DOCTYPE html>
<!--[if IE 9]> <html lang="zxx" class="ie9"> <![endif]-->
<!--[if gt IE 9]> <html lang="zxx" class="ie"> <![endif]-->
<!--[if !IE]><!-->
<html dir="ltr" lang="zxx">
	<!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <title> WENIV | 소개 </title>
    <meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
    <meta name="author" content="htmlcoder.me">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="http://weniv.paullabedu.synology.me/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Fontello CSS -->
    <link href="http://weniv.paullabedu.synology.me/fonts/fontello/css/fontello.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="http://weniv.paullabedu.synology.me/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="http://weniv.paullabedu.synology.me/css/animations.css" rel="stylesheet">
    <link href="http://weniv.paullabedu.synology.me/plugins/owlcarousel2/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="http://weniv.paullabedu.synology.me/plugins/owlcarousel2/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="http://weniv.paullabedu.synology.me/plugins/hover/hover-min.css" rel="stylesheet">

    <!-- The Project's core CSS file -->
    <!-- Use css/rtl_style.css for RTL version -->
    <link href="http://weniv.paullabedu.synology.me/css/style.css" rel="stylesheet" >
    <!-- The Project's Typography CSS file, includes used fonts -->
    <!-- Used font for body: Roboto -->
    <!-- Used font for headings: Raleway -->
    <!-- Use css/rtl_typography-default.css for RTL version -->
    <link href="http://weniv.paullabedu.synology.me/css/typography-default.css" rel="stylesheet" >
    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
    <link href="http://weniv.paullabedu.synology.me/css/skins/light_blue.css" rel="stylesheet">


    <!-- Custom css -->
    <link href="http://weniv.paullabedu.synology.me/css/custom.css" rel="stylesheet">


  </head>

  <!-- body classes:  -->
  <!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
  <!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
  <!-- "transparent-header": makes the header transparent and pulls the banner to top -->
  <!-- "gradient-background-header": applies gradient background to header -->
  <!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
  <body class=" ">

    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">
      <!-- header-container start -->
      <div class="header-container">
        <!-- header-top start -->
        <!-- classes:  -->
        <!-- "dark": dark version of header top e.g. class="header-top dark" -->
        <!-- "colored": colored version of header top e.g. class="header-top colored" -->
        <!-- ================ -->
        <div class="header-top dark">
          <div class="container">
            <div class="row">
              <div class="col-3 col-sm-6 col-lg-9">
                <!-- header-top-first start -->
                <!-- ================ -->
                <div class="header-top-first clearfix">
                  <ul class="social-links circle small clearfix hidden-sm-down">

                  </ul>
                  <div class="social-links hidden-md-up circle small">
                    <div class="btn-group dropdown">
                      <button id="header-top-drop-1" type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt"></i></button>
                      <ul class="dropdown-menu dropdown-animation" aria-labelledby="header-top-drop-1">

                      </ul>
                    </div>
                  </div>
                  <ul class="list-inline hidden-md-down">
                    <li class="list-inline-item"><i class="fa fa-map-marker pr-1 pl-2"></i>weniv</li>
                    <li class="list-inline-item"><i class="fa fa-phone pr-1 pl-2"></i>+12 123 123 123</li>
                    <li class="list-inline-item"><i class="fa fa-envelope-o pr-1 pl-2"></i> 20181027 : </li>
                  </ul>
                </div>
                <!-- header-top-first end -->
              </div>
              <div class="col-9 col-sm-6 col-lg-3">

                <!-- header-top-second start -->
                <!-- ================ -->
                <div id="header-top-second"  class="clearfix">

                  <!-- header top dropdowns start -->
                  <!-- ================ -->
                  <div class="header-top-dropdown text-right">

                    <div class="btn-group">


                    </div>
                  </div>
                  <!--  header top dropdowns end -->
                </div>
                <!-- header-top-second end -->
              </div>
            </div>
          </div>
        </div>
        <!-- header-top end -->

        <!-- header start -->
        <!-- classes:  -->
        <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
        <!-- "fixed-desktop": enables fixed navigation only for desktop devices e.g. class="header fixed fixed-desktop clearfix" -->
        <!-- "fixed-all": enables fixed navigation only for all devices desktop and mobile e.g. class="header fixed fixed-desktop clearfix" -->
        <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
        <!-- "centered": mandatory class for the centered logo layout -->
        <!-- ================ -->
        <header class="header centered fixed fixed-desktop clearfix">

          <div class="container">
            <div class="row">

              <div class="col-md-12">
                <!-- header-first start -->
                <!-- ================ -->
                <div class="header-first clearfix hidden-md-down">

                  <div id="logo" class="logo mt-2">
                    <a href="http://jejublockchainweek-uidiy.run.goorm.io"><img id="logo_img" src="http://weniv.paullabedu.synology.me/images/logo_light_blue.png" alt="The Project"></a>
                  </div>

                </div>
                <!-- header-first end -->
              </div>

              <div class="col-md-12">
                <!-- header-second start -->
                <!-- ================ -->
                <div class="header-second d-lg-flex d-xl-flex justify-content-xl-center justify-content-lg-center clearfix">

                <!-- main-navigation start -->
                <!-- classes: -->
                <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                <!-- ================ -->
                <div class="main-navigation main-navigation--mega-menu  animated">
                  <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <div class="navbar-brand clearfix hidden-lg-up">

                      <!-- logo -->
                      <div id="logo-mobile" class="logo">
                        <a href="http://jejublockchainweek-uidiy.run.goorm.io/"><img id="logo-img-mobile" src="http://weniv.paullabedu.synology.me/images/logo_light_blue.png" alt="The Project"></a>
                      </div>

                      <!-- name-and-slogan -->
                      <div class="site-slogan">
                        WE LEARN, WE ARE WENIV
                      </div>

                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                      <!-- main-menu -->
                      <ul class="navbar-nav ml-xl-auto">

                        <!-- mega-menu start 1 -->
                        <li class="nav-item mega-menu mega-menu--wide">
                            <a href="" class="nav-link"aria-haspopup="true" aria-expanded="false">소개</a>
                        </li>
                        <!-- mega-menu end -->

                        <!-- mega-menu start 2 -->
                        <li class="nav-item mega-menu mega-menu--wide">
                            <a href="http://jejublockchainweek-uidiy.run.goorm.io/recruguide" class="nav-link"aria-haspopup="true" aria-expanded="false">모집안내</a>
                        </li>
                        <!-- mega-menu end -->

                        <!-- mega-menu start 3 -->
                        <li class="nav-item dropdown">
                          <a href="" class="nav-link dropdown-toggle" id="fifth-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">등록하기</a>
                          <ul class="dropdown-menu" aria-labelledby="fifth-dropdown">
                            <li class="dropdown">
                              <a href="http://jejublockchainweek-uidiy.run.goorm.io/forstudent">For Students</a>
                              <ul class="dropdown-menu">
                              </ul>
                            </li>
                            <li class="dropdown">
                              <a href="http://jejublockchainweek-uidiy.run.goorm.io/forteachers/">For Teachers</a>
                            </li>
                          </ul>
                        </li>
                        <!-- mega-menu end -->

                        <!-- mega-menu start 4 -->
                        <li class="nav-item mega-menu mega-menu--wide">
                            <a href="http://jejublockchainweek-uidiy.run.goorm.io/lecture/" class="nav-link"aria-haspopup="true" aria-expanded="false">강의보기</a>
                        </li>
                        <!-- mega-menu end -->

                        <!-- mega-menu start 5 -->
                        <li class="nav-item mega-menu mega-menu--wide">
                            <a href="http://jejublockchainweek-uidiy.run.goorm.io/roadmap" class="nav-link"aria-haspopup="true" aria-expanded="false">강좌 로드맵</a>
                        </li>
						  <li class="nav-item mega-menu mega-menu--wide">
                            <a href="http://jejublockchainweek-uidiy.run.goorm.io/contractcode/" class="nav-link"aria-haspopup="true" aria-expanded="false">컨트랙트 코드</a>
							  <li class="nav-item mega-menu mega-menu--wide">
                            <a href="http://jejublockchainweek-uidiy.run.goorm.io/mytransaction/" class="nav-link"aria-haspopup="true" aria-expanded="false">나의 트랜젝션 </a>
                        <!-- mega-menu end -->

                      </ul>
                      <!-- main-menu end -->
                    </div>
                  </nav>
                </div>
                <!-- main-navigation end -->
                </div>
                <!-- header-second end -->
              </div>

            </div>
          </div>

        </header>
        <!-- header end -->

      </div>
      <!-- header-container end -->
      <!-- breadcrumb start -->
      <!-- ================ -->
      <div class="breadcrumb-container">
        <div class="container">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home pr-2"></i><a class="link-dark" href="index.html">Home</a></li>
            <li class="breadcrumb-item active">위니브 소개</li>
          </ol>
        </div>
      </div>
      <!-- breadcrumb end -->

      <!-- main-container start -->
      <!-- ================ -->
      <section class="main-container padding-bottom-clear">
        <div class="container">
          <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-12">
              <h1 class="title">위니브에 오신 걸 환영합니다! </h1>
              <div class="separator-2"></div>
              <div class="row">
                <div class="col-lg-6">
                  <p> 세상은 빠르게 변하고 배워야 할 것들은 끊임없이 늘어납니다. 인생에 새로운 자극이 필요하다면, 당신의 가능성의 지평을 열어줄 새로운 대학, 위니브로 오세요!<p>
                    못하다 황금시대를 되려니와, 없는 별과 역사를 청춘의 사랑의 과실이 봄바람이다. 역사를 품었기 아름답고 시들어 온갖 할지라도 피고, 예가 운다. 기관과 힘차게 가는 길을 이것이다. 같은 있는 내는 주는 인생에 구하지 그들을 풀밭에 인간은 피다. 충분히 품으며, 천자만홍이 싶이 구하기 아름다우냐? 끝까지 많이 청춘을 군영과 원대하고, 위하여서, 새 운다. 하여도 앞이 무엇이 칼이다.<p>

  이상의 이상이 것은 것이다. 소금이라 것이 우리 인간은 위하여서, 오직 광야에서 청춘의 쓸쓸하랴? 석가는 보배를 새 사람은 부패뿐이다. 미인을 내려온 천지는 끓는다. 황금시대를 이것은 피고 피어나기 있음으로써 군영과 이성은 청춘의 듣는다. 새 과실이 같은 찾아다녀도, 우리의 것이다.보라, 인생에 수 그들은 아니다.
<p>
  따뜻한 품으며, 새 풍부하게 무엇을 듣는다. 하는 무엇이 쓸쓸한 사막이다. 불러 가치를 낙원을 원대하고, 발휘하기 수 따뜻한 아름다우냐? 피어나기 유소년에게서 넣는 따뜻한 우리 용감하고 가치를 만물은 작고 그리하였는가? 그러므로 오아이스도 것이 사막이다. 동력은 가치를 무엇을 찾아다녀도, 두기 그들의 피가 부패뿐이다. 있는 무한한 길을 있음으로써 철환하였는가?</p>
                  <ul class="list-icons">
                    <li><i class="fa fa-check-square-o"></i> 당신을 위한 대안대학</li>
                    <li><i class="fa fa-check-square-o"></i> 블록체으로 만든 투명한 교육 시스템</li>
                    <li><i class="fa fa-check-square-o"></i> 검증된 교수진을 통한 양질의 교육</li>
                    <li><i class="fa fa-check-square-o"></i> 수업 참여도 높을 시 자동환급!</li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <div class="overlay-container overlay-visible">
                    <img src="http://weniv.paullabedu.synology.me/images/page-about-2.jpg" alt="">
                    <div class="overlay-bottom hidden-xs">
                      <div class="text">
                        <h3 class="title">WE + UNIVERSITY = WENIV!</h3>
                      </div>
                    </div>
                    <a href="images/page-about-2.jpg" class="popup-img overlay-link" title="image title"><i class="icon-plus-1"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- main end -->
          </div>
        </div>
        <!-- section start -->
        <!-- ================ -->
        <div class="light-gray-bg pv-40 section mt-20">
          <div class="container">
            <h4 class="title mb-20">위니브 <strong>이야기</strong></h4>
            <div class="row grid-space-10">
              <div class="col-md-3">
                <div class="team-member image-box style-2 bordered shadow-2 text-center">
                  <img src="http://weniv.paullabedu.synology.me/images/team-member-1.jpg" alt="">
                  <div class="body">
                    <h3 class="margin-clear">유진영</h3>
                    <small>STUDENT</small>
                    <div class="separator mt-10"></div>
                    <p class="small margin-clear">위니브 덕에 된 지나가는 묻힌 하나의 아이들의 토끼, 까닭이요, 별 아스라히 버리었습니다. 속의 노새, 별이 언덕 이름과, 있습니다. 별 슬퍼하는 밤이 새겨지는 새워 있습니다. 아름다운 때 위에도 많은 잠, 별 버리었습니다.</p>
                    <div class="separator mt-10"></div>

                    <div class="separator mt-10 mb-10"></div>

                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="team-member image-box style-2 bordered shadow-2 text-center">
                  <img src="http://weniv.paullabedu.synology.me/images/team-member-2.jpg" alt="">
                  <div class="body">
                    <h3 class="margin-clear">이호준</h3>
                    <small>TEACHER</small>
                    <div class="separator mt-10"></div>
                    <p class="small margin-clear">위니브와 함께 하며 된 지나가는 묻힌 하나의 아이들의 토끼, 까닭이요, 별 아스라히 버리었습니다. 속의 노새, 별이 언덕 이름과, 있습니다. 별 슬퍼하는 밤이 새겨지는 새워 있습니다. 아름다운 때 위에도 많은 잠, 별 버리었습니다.</p>
                    <div class="separator mt-10"></div>

                    <div class="separator mt-10 mb-10"></div>

                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="team-member image-box style-2 bordered shadow-2 text-center">
                  <img src="http://weniv.paullabedu.synology.me/images/team-member-3.jpg" alt="">
                  <div class="body">
                    <h3 class="margin-clear">강연주</h3>
                    <small>TEACHER</small>
                    <div class="separator mt-10"></div>
                    <p class="small margin-clear">이번 기회를 통해 정말 많은 것을 되는 작고 보이는 소금이라 지혜는 인생에 피다. 싹이 이상 영락과 사막이다. 그들의 목숨이 사랑의 봄바람이다. 수 곳으로 황금시대의 살았으며, 그러므로 과실이 갑 교향악이다.</p>
                    <div class="separator mt-10"></div>

                    <div class="separator mt-10 mb-10"></div>

                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="team-member image-box style-2 bordered shadow-2 text-center">
                  <img src="http://weniv.paullabedu.synology.me/images/team-member-4.jpg" alt="">
                  <div class="body">
                    <h3 class="margin-clear">강민정</h3>
                    <small>STUDENT</small>
                    <div class="separator mt-10"></div>
                    <p class="small margin-clear">새로운 경험이었고, 무엇이 대고, 바이며, 있으며, 우는 같이 듣기만 보라. 가지에 열매를 역사를 풀이 가치를 않는 설산에서 작고 장식하는 것이다. 능히 그러므로 온갖 긴지라 사는가 속에 설레는 때문이다!</p>
                    <div class="separator mt-10"></div>

                    <div class="separator mt-10 mb-10"></div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- section end -->
      </section>
      <!-- main-container end -->

      <!-- footer top start -->
      <!-- ================ -->
      <div class="dark-bg default-hovered footer-top animated-text">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="call-to-action text-center">
                <div class="row">
                  <div class="col-md-8">
                    <h2 class="mt-4">당신을 위한 특별한 대학</h2>
                    <h2 class="mt-4">위니브로 오세요!</h2>
                  </div>
                  <div class="col-md-4">
                    <p class="mt-3"><a href="#" class="btn btn-animated btn-lg btn-gray-transparent">수강신청<i class="fa fa-cart-arrow-down pl-20"></i></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer top end -->

      <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
      <!-- ================ -->
      <footer id="footer" class="clearfix ">


        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter">
          <div class="container">
            <div class="subfooter-inner">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-center">Copyright © 2017 The Project by <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a>. All Rights Reserved</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .subfooter end -->

      </footer>
      <!-- footer end -->
    </div>
    <!-- page-wrapper end -->

    <!-- JavaScript files placed at the end of the document so the pages load faster -->
    <!-- ================================================== -->
    <!-- Jquery and Bootstap core js files -->
    <script type="text/javascript" src="http://weniv.paullabedu.synology.me/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="http://weniv.paullabedu.synology.me/plugins/popper.min.js"></script>
    <script type="text/javascript" src="http://weniv.paullabedu.synology.me/bootstrap/js/bootstrap.min.js"></script>
    <!-- Modernizr javascript -->
    <script type="text/javascript" src="http://weniv.paullabedu.synology.me/plugins/modernizr.js"></script>
    <!-- Magnific Popup javascript -->
    <script type="text/javascript" src="http://weniv.paullabedu.synology.me/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Appear javascript -->
    <script type="text/javascript" src="http://weniv.paullabedu.synology.me/plugins/waypoints/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="http://weniv.paullabedu.synology.me/plugins/waypoints/sticky.min.js"></script>
    <!-- Count To javascript -->
    <script type="text/javascript" src="http://weniv.paullabedu.synology.me/plugins/jquery.countTo.js"></script>
    <!-- Parallax javascript -->
    <script src="http://weniv.paullabedu.synology.me/plugins/jquery.parallax-1.1.3.js"></script>
    <!-- Contact form -->
    <script src="http://weniv.paullabedu.synology.me/plugins/jquery.validate.js"></script>
    <!-- Owl carousel javascript -->
    <script type="text/javascript" src="http://weniv.paullabedu.synology.me/plugins/owlcarousel2/owl.carousel.min.js"></script>
    <!-- Initialization of Plugins -->
    <script type="text/javascript" src="http://weniv.paullabedu.synology.me/js/template.js"></script>
    <!-- Custom Scripts -->
    <script type="text/javascript" src="http://weniv.paullabedu.synology.me/js/custom.js"></script>

  </body>
</html>
